#chartdiv3 {
    height: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
    top: -63px;
    width: 100%;
}
.amcharts-graph-g1 .amcharts-graph-fill {
  filter: url(dashboard3.css);
}

.amcharts-graph-g2 .amcharts-graph-fill {
  filter: url(dashboard3.css);
}

.amcharts-cursor-fill {
  filter: url(dashboard3.css);
}